<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>About Curbside Thai</title>
    <link href="layout.css" rel="stylesheet" />
    </head>
    body > header > nav.horizontalNavigation li {
           width: 100%;
    }
    body{
        margin-left:  auto;
        magin-right:  auto:
        width:  95%
        }
    body > header > img {
           display: block;
           width: 100%;
    }
    body > header > nav.horizontalNavigation li {
           width: 20%;
    }
    nav.horizontalNavigation li{
        display: block;
        float:  left;
        }
    nav.horizontalNavigation a {
           display: block;
           text-align: center;
    }
    section#leftColumn {
        clear:  left;
        float:  left;
        width: 50%
        }
    section#leftColumn img {
           display: block;
           width: 100%;
    }
    section#rightColumn {
        float:  left;
        width:  50%
        }
    footer {
           clear: left;
    }